@tailwind base;
@tailwind components;
@tailwind utilities;


.btn{
    border:0px;
    margin:10px 0px;
    box-shadow:none !important;
}

.checkout .btn-primary{
    border-radius:50px;
 
}

.dropdown-menu:before{
    content: " ";
    position:absolute;
    top:-20px;
    right:50px;
    border:10px solid transparent;
    border-bottom-color:#fff;
}